# Exploration of the Titanic data set

In [1]:
!pip install seaborn
!pip install scikit-learn

Requirement already satisfied: seaborn in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (0.12.0)
Requirement already satisfied: numpy>=1.17 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from seaborn) (1.23.2)
Requirement already satisfied: pandas>=0.25 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from seaborn) (1.5.1)
Requirement already satisfied: matplotlib>=3.1 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from seaborn) (3.5.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (4.37.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from matplotlib>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2022.2.1)
Requirement already satisfied: six>=1.5 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn) (1.16.0)
Requirement already satisfied: scikit-learn in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (1.1.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from scikit-learn) (1.23.2)
Requirement already satisfied: joblib>=1.0.0 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/dwasserm/miniconda3/envs/neurolang/lib/python3.8/site-packages (from scikit-learn) (3.1.0)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Section 1. Exploration

### Question 1

Load the titanic using `pandas`. It is located in `datasets/titanic.csv`. Using the function `head()` and `info()`, which issues do you identify which need to be solved before to learn a machine learning model.

In [ ]:
data = pd.read_csv('datasets/titanic.csv')

NameError: name 'pd' is not defined

### Question 2

- By checking the variable `Survived`, is the dataset balanced? What will be the chance level accuracy?
- What variables contain more missing values?

### Question 3

Using the `pairplot` of `seaborn` on the `Age`, `Pclass`, `Fare`, `Sex`, and `Survived` columns, identify some intuitions regarding the correlation between the survival and the features. Make some plots to confirm your intuition.

## Section 2. Predicting survival

The titanic dataset is an heterogeneous dataset and it gives the opporunity to show the scikit-learn pipelining features. We will show in this notebook how to make a simple classification pipeline. The aim is to predict or not if a passenger survived the titanic trip.

In [2]:
data = pd.read_csv('datasets/titanic.csv', index_col='PassengerId')

NameError: name 'pd' is not defined

In [5]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

First, we need to split the dataset into 2 arrays: the data array and the classification array.

In [6]:
label = data['Survived']
data = data.drop(columns='Survived')

Because the data type in the titanic dataset, we need to specifically have different preprocessing for the continuous and categorical columns. The `ColumnTransformer` of scikit-learn allows to dispatch different preprocessing depending of the columns. Usually, the categorical variable needs to be encoded while the continuous variable can be standardized.

In [7]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

We are creating three preprocessing:

* an ordinal encoding for the sex;
* a one hot encoding for the remaining categorical features;
* and a standardization for the continuous features.

In addition, missing values will be filled up with either the median (for continuous variable) or a constant value (categorical variable).

In [8]:
data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

:

A logistic regression classifier will be used in which the C parameter will be optimized. We will apply a 5-fold cross-validation scheme to estimate the accuracy of the model.

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, cross_val_predict

In [11]:
from sklearn.model_selection import train_test_split
data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.50)

### Compare different classification algorithms to predict survival. Specifically through the learning curve and the prediction quality. You can compare
* Logistic Regression, with a parameter C
* LinearSVC
* RandomForestClassifiers

In [13]:
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Section 3. Model validation and explanatory capabilities. For each model explore fitted model parameters and try to assess their explanatory capabilities

Bare in mind that if `pipe` is our processing pipeline composed of a preprocessing step and a LinearSVC step:
* `linear_svc = pipe._final_estimator` extracts the tuple (*model name*, *model class*)
* `linear_svc` extracts regression class
* `linear_svc.coef_` are the coefficients of the regressors

In [ ]:
from skelearn.inspect import permutation_importance